:root {
	--black: #1F1F1F;
	--shadow: #1f1f1f50;
	--white: #FFFFFF;
	--green: rgba(123, 214, 123, 0.4);
	--darkgreen: rgb(14, 168, 79);
	--red: rgba(255, 99, 99, 0.4);
	--darkred: rgba(235, 68, 68, 0.815);
	--blue: rgba(54, 162, 235, 0.4);
	--yellow: rgba(255, 206, 86, 0.4);
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	text-align: left;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.component {
	/* border: solid .2px var(--black); */
	box-shadow: 0px 0px 20px var(--shadow);
	border-radius: 10px;
	/* height: max-content; */
	padding:.75rem;
	max-width: 100%;

}

.ok {
	background: var(--darkgreen);
	color: var(--white)
}

.warn {
	background: var(--darkred);
	color: var(--white)
}